<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<form action="" method="post">
    <h1>sign in</h1>

    <label for="loginId">ID</label>
    <input type="text" id="loginId" name="loginId" required="required">

    <label for="password">password</label>
    <input type="text" id="password" name="password" required="required">

    <label for="memberName">memberName</label>
    <input type="text" id="memberName" name="memberName" required="required">

    <button class="btn btn-lg btn-primary btn-block" type="submit">가입</button>
</form>
</body>
</html>
