<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<form action="/login" method="post">
    <h1>sign in</h1>

    <label for="loginId">ID</label>
    <input type="text" id="loginId" name="loginId" required="required">

    <label for="password">password</label>
    <input type="password" id="password" name="password" required="required">

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <a href="/members/add">가입</a>
    <a href="/kakao">카카오 로그인</a>
</form>
</body>
</html>