<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<form action="/login" method="post">
    <h1>sign in</h1>

    <label for="empNo">ID</label>
    <input type="text" id="empNo" name="empNo" required="required">

    <label for="password">password</label>
    <input type="password" id="password" name="password" required="required">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
    <a href="/employees/add">가입</a>
    <a href="/password_search">비밀번호 찾기</a>
    <a href="/kakao">카카오 로그인</a>
    <a href="/logout">로그아웃</a>
</body>
</html>